XRAY_PORT=28443
VMESS_PORT=28080
TZ=Asia/Tehran

# Recommended from your provider panel: wireguard
VPN_TYPE=wireguard

# WireGuard values (required when VPN_TYPE=wireguard)
WG_PRIVATE_KEY=
WG_ADDRESSES=10.0.0.2/32
WG_PUBLIC_KEY=
# Must be numeric IP (not domain), e.g. 1.2.3.4
WG_ENDPOINT_IP=
WG_ENDPOINT_PORT=51820
WG_PRESHARED_KEY=

# OpenVPN values (only if VPN_TYPE=openvpn)
OVPN_USER=
OVPN_PASSWORD=
